/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.logo img {
    max-width: 50%;
    max-height: 50%;
}

.logo h2 {
    margin-left: 20px;
}

.menu img {
    margin-left: 20%;
    max-width: 40px;
    align-items: right;
    justify-content: right;
    cursor: pointer;
}

nav {
    display: none;
    z-index: 1;
}

nav ul {
    position: absolute;
    list-style-type: none;
    margin-top: 43px;
    margin-left: -120px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #ffffffe0;
    font-size: 1.2rem;
    line-height: 5rem;
    height: 100vh;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    margin-bottom: 40px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h1, h2, h3 {
    font-weight: bold;
}

.burger-menu {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color: rgba(51, 51, 51, 0.912);
    color: white;
    min-height: 100vh;

}

.hero-section {
    height: 50%;
    text-align: center;
    background: rgb(255,192,192);
    background: linear-gradient(90deg, rgba(255,192,192,1) 0%, rgba(184,197,255,1) 100%);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section img {
    width: 80%;
    position: relative;
}

.features-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 20px;
}

.feature {
    width: 80%;
    padding: 20px;
    background-color: #f2f2f2;
}

.feature:hover {
    box-shadow: 0px 0px 5px 0px #8383838a;
    background-color: white;
    transition: all 0.2s;
}

.integration-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.integration-images img {
    margin: 40px;
    max-width: 100%;
    height: auto;
    max-height: 100px;
    
}

.collaboration-container {
    width: 100%;
    background-color: rgb(217, 224, 255);
    margin-bottom: -20px;
}

.collaboration-section {
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.collaboration-section img {
    width: 300px;
    padding: 50px;
}

.access-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(184,197,255);
    margin-bottom: -20px;
}

.access-content img {
    width: 100%;
    height: auto;
}

.access-content {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}


button {

    margin: 20px auto;
    padding: 20px 40px;
    background: #0028C7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s ease-in-out 0.12s,
                color 0.3s ease-in-out 0.15s;

  }
  button:hover {
    background: #9E0099;
    color: white;
    cursor: pointer;
  }

  .form-section {
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
  }
  
  .form-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-section input,
  .form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-section button {
    margin: 20px auto;
    padding: 20px 40px;
    background: #0028C7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s ease-in-out 0.12s,
                color 0.3s ease-in-out 0.15s;
  }
  
  .form-section button:hover {
    background-color: #45a049;
  }
  
  .form-section button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

input:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

input,
textarea {
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

footer {
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.social-icons img {
    width: 25px;
    height: 25px;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    nav {
        display: block;

    }
    nav ul {
        position: relative;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        margin-left: 100px;
        padding: 0px;
        font-size: 1rem;
        line-height: 0rem;
        height: auto;
    }

    h1 {
        font-size: 2.3rem;
    }

    .logo img {
        max-width: 15rem;
    }

    .menu {
        display: none;
    }

    .burger-menu {
        display: none;
    }

    .hero-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .hero-section img {
        width: 40%;
        position: relative;
    }

    .hero-text h1, p {
        display: flex;
        text-align: left;
        justify-content: left;
    }

    .integration-images {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    .access-content {
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .collaboration-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .collaboration-section img {
        width: 300px;
        padding: 50px;
    }

    .collaboration-text h1, p {
        display: flex;
        text-align: left;
        justify-content: left;
    }


}

/* Tablet */
@media only screen and (min-width: 640px) and (max-width: 1024px) {
    
    nav {
        display: none;
    }
    nav ul {
        position: absolute;
        list-style-type: none;
        margin-top: 43px;
        margin-left: 180px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        background-color: #ffffffe0;
        font-size: 1.2rem;
        line-height: 5rem;
        height: 100vh;
    }

    .menu img {
        margin-left: 80%;
        max-width: 10%;
        align-items: right;
        justify-content: right;
    }

    .logo img {
        max-width: 15rem;
        min-width: 12rem;
    }

    .hero-section {
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }

    .hero-section img {
        width: 40%;
        position: relative;
    }

    .hero-text h1, p {
        display: flex;
        text-align: left;
        justify-content: left;
    }

    .integration-images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    .collaboration-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .collaboration-section img {
        width: 300px;
        padding: 50px;
    }

    .collaboration-text h1, p {
        display: flex;
        text-align: left;
        justify-content: left;
    }

}
