/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.logo img {
    max-width: 50%;
    max-height: 50%;
}

.logo h2 {
    margin-left: 20px;
}

.menu img {
    margin-left: 80%;
    max-width: 15%;
    align-items: right;
    justify-content: right;
}

nav {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    margin-bottom: 40px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h1, h2, h3 {
    font-weight: bold;
}

.hero-section {
    height: 50%;
    text-align: center;
    background: rgb(255,192,192);
    background: linear-gradient(90deg, rgba(255,192,192,1) 0%, rgba(184,197,255,1) 100%);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section img {
    width: 80%;
    position: relative;
}

.features-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 20px;
}

.feature {
    width: 80%;
    padding: 20px;
    background-color: #f2f2f2;
}

.feature:hover {
    box-shadow: 0px 0px 5px 0px #8383838a;
    background-color: white;
    transition: all 0.2s;
}

.integration-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.integration-images img {
    margin: 40px;
    max-width: 100%;
    height: auto;
    max-height: 100px;
    
}

.collaboration-container {
    width: 100%;
    background-color: rgb(217, 224, 255);
    margin-bottom: -20px;
}

.collaboration-section {
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.collaboration-section img {
    width: 300px;
    padding: 50px;
}

.access-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(184,197,255);
    margin-bottom: -20px;
}

.access-content img {
    width: 100%;
    height: auto;
}

.access-content {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}


button {
    width: 200px;
    margin: 20px auto;
    padding: 20px 10px;
    color: white;
    border: none;
    background: #0028C7;
    transition: background 0.2s ease-in-out 0.12s,
                color 0.3s ease-in-out 0.15s;
  }
  button:hover {
    background: rgb(200, 50, 255);
    cursor: pointer;
  }

footer {
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.social-icons img {
    width: 25px;
    height: 25px;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    nav {
        display: block;
    }

    h1 {
        font-size: 2.3rem;
    }

    .logo img {
        max-width: 15rem;
    }

    .menu {
        display: none;
    }

    .hero-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .hero-section img {
        width: 40%;
        position: relative;
    }

    .hero-text h1, p {
        display: flex;
        text-align: left;
        justify-content: left;
    }

    .integration-images {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    .access-content {
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .collaboration-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .collaboration-section img {
        width: 300px;
        padding: 50px;
    }

    .collaboration-text h1, p {
        display: flex;
        text-align: left;
        justify-content: left;
    }


}

/* Tablet */
@media only screen and (min-width: 640px) and (max-width: 1024px) {
    nav {   
        display: none;
    }

    .menu img {
        margin-left: 80%;
        max-width: 10%;
        align-items: right;
        justify-content: right;
    }

    .logo img {
        max-width: 15rem;
        min-width: 12rem;
    }

    .hero-section {
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }

    .hero-section img {
        width: 40%;
        position: relative;
    }

    .hero-text h1, p {
        display: flex;
        text-align: left;
        justify-content: left;
    }

    .integration-images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    .collaboration-section {
        flex-direction: row;
        justify-content: space-around;
    }

    .collaboration-section img {
        width: 300px;
        padding: 50px;
    }

    .collaboration-text h1, p {
        display: flex;
        text-align: left;
        justify-content: left;
    }
}
